.message {
    font-size: 18px;
    font-weight: 500;
    border: 5px solid #07c6f0;
    background-color: #07c6f0;
    color: rgb(0, 0, 0);
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 10px;
}

    .message div {
        font-size: 12px;
    }

    .message .time {
        float: right;
        text-align: right;
    }

    .message.mine {
        border: 5px solid #02cf6c;
        background-color: #02cf6c;
    }

#messagesList {
    height: 70vh;
    overflow-y: scroll;
}

h1 {
    text-align: center;
    padding-bottom: 10px;
    font-family: monospace;
}
