.message {
    font-size: 18px;
    font-weight: 500;
    border: 5px solid #ffd809;
    background-color: #ffd809;
    color: rgb(0, 0, 0);
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 10px;
}

.message div {
    font-size: 12px;
}

.message .time {
    float: right;
    text-align: right;
}

.message.mine {
    border: 5px solid #02cbbb;
    background-color: #90cb00;
}
